@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background-color: aliceblue;
}
/* image gallery */
#gallery{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	transition: all 1.8s ease-in ;
}

#single-image{
	border: 1px solid rgb(163, 163, 163);
	border-radius: 20px;
	transition: all 2s step-end;
	
}
#single-image img {
	border-radius: 20px;
	max-width: 100%;
    height: auto;
	z-index: 0;


}
/* checkbox hover  */
#single-image:hover input[type="checkbox"]{
	z-index: 40;
	opacity: 1;
}
#single-image input:checked {
	display: block;
	opacity: 1;
}
  #single-image:hover::after {
	content: "";
	position: absolute;
	background-color: rgba(175, 34, 34, 0.5);
	top: 0;
	left: 0;
	opacity: 0;
	height: 100%;
	z-index: 40;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
  }
  
  /* #single-image:hover::after {
	opacity: 1;
  }  */
/* first child span size */
#single-image:nth-child(1){
	grid-area: 1 / 1/ 3 / 3;

}


/* responsive  class*/

@media (max-width: 1024px) {
	#gallery {
	  grid-template-columns: repeat(5, 1fr);
	  grid-template-rows: repeat(4, 1fr);
	  transition:  1.8s  ;
	}
	#single-image:nth-child(1) {
	  grid-area: 1 / 1 / 3 / 3;
	}
  }
  
  @media (max-width: 768px) {
	#gallery {
	  grid-template-columns: repeat(4, 1fr);
	  grid-template-rows: repeat(6, 1fr);
	  transition:  1.8s ease-in ;
	}
	#single-image:nth-child(1) {
	  grid-area: 1 / 1 / 3 / 3;
	}
  }
  
  @media (max-width: 480px) {
	#gallery {
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(8, 1fr);
	  grid-column-gap: 10px;
	  grid-row-gap: 10px;
	  transition:  1.8s ease-in ;
	}
	
  }
  